accelerate>=0.21.0
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
git+https://github.com/huggingface/peft.git
transformers>=4.28.0
sentencepiece
gradio
antlr4-python3-runtime
protobuf
nltk
pyghidra==2.1.0
ghidra-stubs==11.3